#btn-start-quiz {
    margin: auto;
}

#timer {
    margin: auto;
}

#score-one {
    margin: auto;
}

#update-scores {
    margin: auto;
}

#score-text {
    border: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

#score-style {
    text-align: center;
    font-weight: bold;
}

#extra-padding {
    padding: inherit;
}